.produtos{
  
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: -54px;
}
  
.produtos img {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin: 30px;
    padding: 2.2rem;
}


@media (max-width: 320px){
    .produtos{
        padding-top: 80px;
        margin-left: 68px;
        display: block;
    }
    .produtos img{
        width: 120%;
        margin-left: -60px;
    }

}