.servicos{
    padding-top: 40px;
    margin-top: 40px;
    align-items: center;
    padding-bottom: 30px;
}

.servicos h1{
    display: flex;
}

.servicos img {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: 30px;
    padding: 1.2rem;
    margin-left: 103px;
    border: 2px solid black;
}

