

.servicos{
    align-items: center;
    padding-bottom: 35px;
    display: inline-flex;
}



.servicos img {
    display: flex;
    width: 71%;
    flex-wrap: wrap;
    margin: 30px;
    padding: 1.2rem;
    margin-left: 71px;
    border: 2px solid black;
}


@media (max-width: 320px){
    
    .servicos{
        padding-bottom: 60px;
    }
    
    .servicos h1{
        display: flex;
    }
    
    .servicos img {
        width: 68%;
        margin: 30px;
        padding: 0.2rem;
        margin-left: 50px;
        border: 2px solid black;
    }
    
    
}
