.servicos{
    padding-top: 40px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
  
.servicos img {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin: 30px;
    padding: 2.2rem;
}