.header{
    background-color: #000;
    border-bottom: 5px solid #f44336;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.header span{
    font-size: 2rem;
    color: #b71c1c;
    font-weight: 500;
}

.header a {
    text-decoration: none;
    color: #fff;
    padding-inline: 0.5rem;
}

.header a:hover {
    text-decoration: underline;
    color: #9ae20a;
    padding-inline: 1.5rem;
}



@media (max-width: 320px){
    html{
        width: 275%;
        height: 260%;
        padding-top: 119px;
        margin-top: 35px;
    }
    .header{
        font-size: 5.5rem;
        display: block;
    }
    .header span {
        font-size: 2.5rem;
    }
    .header nav{
        font-size: 2.0rem;
    }
    .header a {
        font-size: 1.8rem;
        padding-inline: 17px;
    }
}

