.about{
    padding-top: 96px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}


@media (max-width: 320px){
    .about{
        padding-top: 30px;
    }
    .about p {
        width: 90%;
    }
}    