
.profile{
    padding-top: 13px;
    margin-top: 52px;
    margin-left: 62px;
    text-decoration: none;
}

.profile1{
    display: inline-flex;
}

.profile span{
    color: rgb(4, 4, 10);
    font-size: 3rem;
}
