.profile{
    padding-top: 10px;
    margin-left: 0px;
    text-decoration: none;
    background-color: rgba(111, 217, 192, 0.489);
     padding-bottom: 26px;
    padding-left: 20px;
}


.profile1{
    display: inline-flex;
    background-color: rgba(111, 217, 192, 0.489);
}

.profile span{
    color: rgb(4, 4, 10);
    font-size: 3rem;
}
