.profile{
    padding-top: 13px;
    margin-top: 52px;
    margin-left: 62px;
    text-decoration: none;
}

.profile1{
    display: inline-flex;
}

.profile span{
    color: rgb(4, 4, 10);
    font-size: 3rem;
}


@media (max-width: 320px){
    
    .profile{
        padding-top: 0px;
    margin-top: 50px;
    margin-left: 80px;
    text-decoration: none;
    }
    
    .profile1{
        display: inline-flex;
    }
    
    .profile span{
        color: rgb(10 35 56);
        font-size: 35px;
    }
    
    
}