
.home{
  padding-top: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-left: 101px;
}

.home img {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  margin: 30px;
  padding: 2.2rem;
  margin-top: 30px;
}

.home div{
  display: block;
}