/* Home.module.css */
.home {
    padding-top: 20px;
    margin-top: 10px;
    display: flex;
    margin-left: 101px;
    align-items: center;
}

.home img {
  width: 50%;
}

.home div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px;
  padding: 2.2rem;
 
}


@media (max-width: 320px){
  .home{
    padding-top: 130px;
    margin-top: 40px;
    margin-left: 65px;
    align-items: center;
  }
  .home img {
    width: 122%;
    margin-left: -75px;
  }
  .home div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
    padding: 2.2rem;
  }
}